@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  color: #666666;
  text-decoration: none;
}

button+dl {
  display: none;
}

button.on+dl {
  display: block;
}

.title {
  display: inline;
  line-height: 33px;
  font-size: 27px;
  font-weight: normal;
  letter-spacing: -0.3px;
  color: black;
}

.date {
  font-size: 13px;
  line-height: 18px;
  color: #929294;
  vertical-align: top;
  letter-spacing: -0.2px;
}

.name {
  display: inline-flex;
  color: #303038;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  letter-spacing: -0.4px;
  vertical-align: top;
}

.content {
  letter-spacing: -0.3px;
  color: #303038;
  word-wrap: break-word;
  font-size: 1em;
  line-height: 1.56;
  margin-bottom: 50px;
}
